<ul>
  <% @bookmarks.each do |bookmark| %>
  <li><%= bookmark %></li>
  <% end %>
</ul>

<form action="/add" method='post'>
  <input type="text" name="url"> <br>
  <input type="submit" value= "Add Bookmark">
</form>
